.home__Products {
  text-align: center;
}

.home__ourProducts {
  display: flex;
  font-family: "Jelligun";
  font-size: 80px;
  align-items: center;
  justify-content: center;
}

.content-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
}

.thumbnail {
  overflow: hidden;
  box-sizing: border-box;
  text-align: center;
  position: relative;
}

.featured__Text{
  font-size: 50px;
  padding: 5px;
  font-family: "Jelligun";
}

.featured__textItem {
  position: absolute;
  /* top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */
  top: 0;
  padding-top: 50%;
  left: 0;
  text-align: center;
  visibility: hidden;
  opacity: 0;
  color: #fff;
  transition: opacity 0.2s, visibility 0.2s;
  background-color: rgba(0, 0, 0, 0.8);
  height: 100%;
  width: 100%;
}

.img-thumbnail {
  transition: transform 0.8s;
  border: none;
}


.thumbnail:hover .featured__textItem {
  transition: 0.4s;
  visibility: visible;
  opacity: 1;
}

.home-viewcakes {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}

.viewcakes {
  padding-inline: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 18px;
  border: none;
  border-radius: 0;
  background-color: #e7adcf;
  color: #fff;
}

.viewcakes:hover {
  transition: 0.3s;
  background-color: #bf7ea4;
}

@media only screen and (max-width: 768px) {
  .home__ourProducts {
    font-size: 50px;
  }
}
