* {
  margin: 0;
  padding: 0;
  font-family: "Quicksand", sans-serif;
}

.App {
  position: relative;
  min-height: 100vh;
  overflow: auto;
  padding-top: 8%;
  padding-bottom: 8%;
}

@media only screen and (max-width: 767px) {
  .App {
    padding-top: 20%;
    padding-bottom: 40%;
  }
}